.filter-buttons {
  position: absolute;
  top: 5rem;
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .card {
    width: 14rem;
    height: 14rem;
  }
}
