.filter-buttons {
  position: absolute;
  top: 6.5rem;
  z-index: 1;
}

.filter-buttons-down {
  position: absolute;
  top: 18.5rem;
  z-index: 1;
}

.button-div {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.activeButton {
  border: 4px solid darkblue;
}

@media screen and (max-width: 550px) {
  .filter-buttons {
    top: 5.5rem;
  }
  .filter-buttons-down {
    position: absolute;
    top: 18.5rem;
    z-index: 1;
  }
}
