.footer {
  background: linear-gradient(95.91deg, #6d82c8 6.74%, #3132ab 88.88%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 70px 0px 0px;
  height: 5rem;
  width: 100%;
}

.footer-navigation {
  color: white;
  display: flex;
  gap: 1.5rem;
  place-items: center;
}

@media screen and (min-width: 900px) {
  .footer-navigation {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    height: 4rem;
    border-radius: 0px 70px 0px 0px;
    position: fixed;
    bottom: 0;
  }
}
