.header {
  background: linear-gradient(95.91deg, #6d82c8 6.74%, #3132ab 88.88%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem;
  border-radius: 0px 0px 0px 70px;
  height: 8rem;
  width: 100%;
  color: transparent;
}

.expanded-header {
  background: linear-gradient(95.91deg, #6d82c8 6.74%, #3132ab 88.88%);
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  height: 20rem;
  width: 100%;
  color: transparent;
}

.upper-content {
  display: flex;
  justify-content: space-between;
}

.heading {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 5rem;
  height: 5rem;
  background-image: url(./Assets/rentium-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.navigation {
  color: white;
  display: flex;
  gap: 1.5rem;
}

@media screen and (max-width: 900px) {
  .navigation {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .header {
    justify-content: center;
    align-items: flex-start;
    height: 7rem;
    border-radius: 0px 0px 0px 40px;
  }
  .logo {
    width: 4.5rem;
  }
}
