@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Hind', sans-serif; this is for header */
  font-family: 'Roboto', sans-serif; /* for body */
}
